.card {
  display: flex;
  flex-direction: column;
  background: var(--color-light);
  padding: 15px;
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
  height: 100%;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    filter: brightness(90%);
  }

  &:hover .card-info .card-name {
    color: var(--color-accent);
  }

  .card-image {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
  }

  .card-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .card-name {
      font-weight: bold;
      font-size: 18px;
    }

    .card-price {
      font-size: 16px;
    }
  }
}

.products-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 30px;
  justify-content: center;
  grid-auto-rows: 1fr;

  @media (max-width: 1280px) {
    gap: 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (max-width: 768px) {
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}

.product-link {
  @include reset-link;
}

.product-by-category-wrapper {
  margin-top: 30px;
  padding: 30px;
  background: var(--color-light);
  border-radius: var(--border-radius);

  @media (max-width: 768px) {
    padding: 5px;
  }
}