.product-detail {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-top: 30px;

  @media (max-width: 768px) {
    gap: 15px;
    flex-direction: column;
  }


  .product-image-wrapper {
    width: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);

    @media (max-width: 768px) {
      width: 100%;
    }

    .product-image {
      width: 400px;
      aspect-ratio: 1;
      object-fit: contain;

      @media (max-width: 768px) {
        width: 250px;
      }
    }

  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 25px;
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }



    .product-rating {
      display: inline-flex;
      align-items: center;
      column-gap: 15px;
    }
  }
}

.product-prices-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  min-width: 100%;
  row-gap: 15px;


  .prices-list {
    width: 100%;

    .prices-item {
      padding-top: 15px;
    }
  }
}

.section-description {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 15px;

  .description-text {
    padding-top: 15px;
  }

  .section-header {
    display: inline-flex;
    align-items: center;
    height: 30px;
    width: 100%;
    position: relative;
    font-size: clamp(16px, 2.5vw, 24px);

    &::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      border-bottom: 1px solid #000;
    }
  }
}