:root {
  --container-width: 1240px;
  --container-padding-x: 30px;
  --container-padding-y: 70px;

  --border-radius: 14px;
  --border-radius-small: 7px;

  --button-height: 40px;
  --textarea-height: 40px;

  --color-dark: #000;
  --color-light: #fff;
  --color-accent: #1976d2;

  --transition-duration: 0.2s;
}